@use '../variables' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: $primary-color;
  transition: $transition;
  
  &:hover {
    color: $accent-color;
  }
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
} 